<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Advert</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5a734229-1df7-4d23-9e31-ed174b02ab30
&lang=ru_RU" type="text/javascript"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card:nth-child(5n) {
            margin-right: 0;
        }
    </style>
    <link href="/css/header.css" rel="stylesheet">
</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Home</a></li>
                <li><a th:href="@{/my-favorite}" class="nav-link px-2 text-white">Favorites</a></li>
                <li><a th:href="@{/chats}" class="nav-link px-2 text-white">Messages</a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end" sec:authorize="!isAuthenticated()">
                <button type="button" class="btn btn-outline-light me-2" th:onclick="|window.location.href='/login'|">Login</button>
                <button type="button" class="btn btn-warning" th:onclick="|window.location.href='/register'|">Sign-up</button>
            </div>

            <div class="text-end" sec:authorize="isAuthenticated()">
                <button type="button" class="btn btn-outline-light me-2" th:onclick="|window.location.href='/profile'|">Profile</button>
                <button type="button" class="btn btn-warning" th:onclick="|window.location.href='/advert/add'|">Add advert</button>
                <button type="button" class="btn btn-outline-light me-2" th:onclick="|window.location.href='/logout'|">Logout</button>
            </div>
        </div>
    </div>
</header>

  <div>
    <h1>Add Advert</h1>
      <div>
          <form enctype="multipart/form-data" action="/advert/add" th:action="@{/advert/add}" class="advert-form" id="advert-form" method="post" th:object="${advertDto}">
              <div class="form-group">
                  <label for="name"></label>
                  <input type="text" name="name" id="name" placeholder="Name Advert" th:field="*{name}" required/>
              </div>
              <div class="form-group">
                  <label for="description"><i class="zmdi zmdi-account material-icons-name"></i></label>
                  <input type="text" name="description" id="description" placeholder="Description advert" th:field="*{description}"/>
              </div>
              <div class="form-group">
                  <label for="price"><i class="zmdi zmdi-email"></i></label>
                  <input type="text" name="price" id="price" placeholder="Price" th:field="*{price}" required/>
              </div>
              <div class="form-group">
                  <label for="category"><i class="zmdi zmdi-lock"></i></label>
                  <select required id="category" name="category" th:field="*{category}">
                      <option value="Personal Items">Personal items</option>
                      <option value="Auto">Auto</option>
                      <option value="Real Estate">Real estate</option>
                      <option value="Electronics">Electronics</option>
                      <option value="Animals">Animals</option>
                      <option value="Hobby">Hobby</option>
                      <option value="Business">Business</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="photos">Photos:</label>
                  <input type="file" id="photos" name="photos" multiple/>
              </div>

              <div class="form-group">
                  <label for="coordinates">Map: </label>
                  <div id="map" style="width: 600px; height: 400px"></div>
                  <input id="coordinates" type="hidden" th:field="*{coordinates}">
              </div>


              <div class="form-group form-button">
                  <input type="submit" name="addAdvert" id="addAdvert" class="form-submit" value="Add Advert"/>
              </div>

              <div th:if="${errors != null}">
                  <div th:each="error : ${errors}">
                      <span th:text="${error.defaultMessage}"></span>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <script th:src="@{/js/map.js}"></script>
</body>
</html>