<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Advert</title>
  <link rel="stylesheet" type="text/css" href="/css/carousel.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=5a734229-1df7-4d23-9e31-ed174b02ab30
&lang=ru_RU" type="text/javascript"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card:nth-child(5n) {
      margin-right: 0;
    }
  </style>
  <link href="/css/header.css" rel="stylesheet">
</head>
<body>

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/}" class="nav-link px-2 text-white">Home</a></li>
        <li><a th:href="@{/my-favorite}" class="nav-link px-2 text-white">Favorites</a></li>
        <li><a th:href="@{/chats}" class="nav-link px-2 text-white">Messages</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end" sec:authorize="!isAuthenticated()">
        <button type="button" class="btn btn-outline-light me-2" th:onclick="|window.location.href='/login'|">Login</button>
        <button type="button" class="btn btn-warning" th:onclick="|window.location.href='/register'|">Sign-up</button>
      </div>

      <div class="text-end" sec:authorize="isAuthenticated()">
        <button type="button" class="btn btn-outline-light me-2" th:onclick="|window.location.href='/profile'|">Profile</button>
        <button type="button" class="btn btn-warning" th:onclick="|window.location.href='/advert/add'|">Add advert</button>
        <button type="button" class="btn btn-outline-light me-2" th:onclick="|window.location.href='/logout'|">Logout</button>
      </div>
    </div>
  </div>

</header>


  <input type="hidden" id="coordinates" th:value="${advert.coordinates}">

  <div th:object="${advert}">
    <p>Name: <span th:text="${advert.name}"></span></p>
    <p>Description: <span th:text="${advert.description}"></span></p>
    <p>Price: <span th:text="${advert.price}"></span></p>
    <p>Category: <span th:text="${advert.category}"></span></p>
    <p>Address: <span id="address"></span></p>
    <p>Start sale date: <span th:text="${advert.salesStartDate}"></span></p>
    <p th:if="${advert.state.equals(advert.state.SOLD)}">Date sale: <span th:text="${advert.dateOfSale}"></span></p>

    <p>Author: <span th:text="${advert.authorId.firstName + ' ' + advert.authorId.lastName}"></span></p>
    <button th:onclick="|window.location.href='/profile?id=' + ${advert.authorId.id}|">Profile Author</button>


    <div sec:authorize="isAuthenticated()" class="addFavorite"  th:if="${!existFavorite}">
      <button onclick="addFavorite()">Add favourite</button>
    </div>

    <div sec:authorize="isAuthenticated()" class="removeFavorite" th:if="${existFavorite}">
      <button onclick="removeFavorite()">Remove favorite</button>
    </div>

    <div sec:authorize="isAuthenticated()" th:if="${advert.state.equals(advert.state.ACTIVE) && advert.authorId.email.equals(#authentication.name)}" class="advertSold">
      <button onclick="sellAdvert()">Sold advert</button>
    </div>

    <div sec:authorize="isAuthenticated()" th:if="${advert.state.equals(advert.state.SOLD) && advert.authorId.email.equals(#authentication.name)}" class="returnInSell">
      <button onclick="returnInSell()">Return advert</button>
    </div>

    <div sec:authorize="isAuthenticated()" th:if="${advert.state.equals(advert.state.ACTIVE) && advert.authorId.email.equals(#authentication.name)}" class="advertSold">
      <button th:onclick="|window.location.href='/advert/edit?id=' + ${advert.id}|">Edit advert</button>
    </div>


    <div class="carousel" th:if="${!advert.getImages().isEmpty()}">
      <div class="slides">
        <div th:each="image : ${advert.getImages()}" class="slide" th:style="'background-image: url(/images/uploads/advert/' + ${image} + ')'"></div>
      </div>
      <div th:if="${advert.getImages().size() >= 2}">
        <button class="prev-button">Назад</button>
        <button class="next-button">Вперед</button>
      </div>
    </div>
  </div>

  <script src="/js/carousel.js"></script>
  <script src="/js/favorite.js"></script>
  <script src="/js/sell.js"></script>
  <script src="/js/advert.js"></script>
</body>
</html>