<div id="other-user-id" class="d-none" th:text="${otherUser.id}"></div>
<div id="other-user-avatar" class="d-none" th:text="av"></div>
<div class="top-bar">
    <div class="avatar"><p th:text="${otherUser.firstName.substring(0,1) + otherUser.lastName.substring(0,1)}"></p></div>
    <div class="name" th:text="${otherUser.firstName + ' ' + otherUser.lastName}"></div>
    <div class="menu">
        <div class="dots"></div>
    </div>
</div>
<div class="middle">
    <div class="voldemort p-4" id="chat-messages">
        <th:block th:each="message : ${messages}">
            <div th:class="${message.senderId == currentUser.id} ? 'bubble outgoing pb-3' : 'bubble incoming pb-3'">
                <span th:text="${message.content}"></span>
            </div>
        </th:block>
    </div>
</div>
<div class="bottom-bar">
    <div class="chat">
        <input type="text" id="send-message" placeholder="Напишите сообщение..."/>
        <input id="otherUserId" type="hidden" th:value="${otherUserId}"/>
        <input id="otherUserEmail" type="hidden" th:value="${otherUser.email}"/>

        <button id="send-button" type="submit"
                onclick="send()">
            <i class="fas fa-paper-plane"></i>
        </button>

    </div>
</div>

<script th:src="@{/js/chats.js}"></script>
</div>